body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-image: url('images/Wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #cfd8e0;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    height: 85%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    padding-bottom: 0px;
    padding-right: 8%;
    text-align: right;
    background-color: #003f5c;
}

.tittle {
    float: inherit;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    height: 75%;
}

.info-text {
    color: #ffffff;
}

.textarea-container {
    position: relative;
    width: 95%;
    margin-top: 10px;
}

.textarea-img {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; 
    height: auto;
    z-index: 2;
}

.input-section {
    width: 65%;
    margin-right: 10px;
    padding: 10px;
    position: relative; /* Hacer que los hijos de .input-section puedan posicionarse */
}

.output-section {
    width: 30%;
    margin-left: 5px;
    padding: 20px;
}

.input-section,
.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003f5c; 
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#inputText, #outputText {
    width: 95%;
    height: 75%;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: #F8E3B6;
    border-radius: 12px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #003f5c; 
    position: relative;
    z-index: 1; /* Asegura que el textarea esté debajo de los botones */
}

.buttons {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px; /*superposición deseada */
    position: relative;
    z-index: 2; /* Asegura que los botones estén por encima del textarea */
}

.boton {
    position: relative;
    display: inline-block;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.boton-imagen {
    width: 45%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.boton-imagen:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.boton-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    pointer-events: none; 
    transition: color 0.2s ease, transform 0.2s ease, opacity 0.2s ease;
}

.boton:hover .boton-texto {
    color: #000000;
    transform: translate(-50%, -50%) scale(1.2);
    font-size: 20px;
}

#output-placeholder {
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #cfd8e0;
    height: auto;
    width: 100%;
}

#output-placeholder img {
    height: auto;
    width: 90%;
    padding-top: 20px;
}

#boton-copiar{
    padding: 10px;
    color: #003f5c;
    display: none;
    text-align: center;
    justify-content: center; 
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
}

#copy-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#copy-message {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

#text {
    margin-left: 7%;
    margin-right: 5%;
    font-family: 'Quicksand', sans-serif;
}

#text2 {
    margin-left: 10%;
    color: #cfd8e0;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    height: auto;
    width: 90%;
}

#outputText {
    display: none;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #003f5c;
    color: white;
    font-size: 16px;
}

footer .footer-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .github-link {
    color: white;
    text-decoration: none;
    margin-top: 5px;
    font-size: 18px;
}

footer .github-link i {
    margin-right: 5px;
}

footer .github-link:hover {
    color: #b9d6f2;
}


@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    header {
        padding: 10px;
    }

    #inputText, #outputText {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}
